h2 {
	margin-top: 15px;
}

.search {
	background-color : #ff7454; 
	border-color : #ff7454; 
	margin-top: 30px;
}

.save {
	background-color : #ff7454; 
	border-color : #ff7454;
	margin-bottom: 10px;
}