.btn.focus, .btn:focus{
	box-shadow: none !important;
}

h2 {
	margin-top: 15px;
}

.nav-tabs .nav-link {
	color: gray;
}

.nav-tabs .nav-link .active {
	background-color: #ff7454;
	color: white;
}

.nav-item {
	margin-right: 0px;
}

.card-course{
	background-color: #ff7454;
	color: white;
	font-size: 22px;
}

.search {
	background-color : #ff7454; 
	border-color : #ff7454; 
	margin-top: 30px;
}

.card-header {
	background-color: #363636;
}

.course-head {
	background-color: #363636;
	width: 900px;
	color: white;
	border: none;
	text-align: left;
	padding-top: 0px;
}

.course-body{
	padding-bottom: 2px;
}

.text-comment {
	word-wrap: break-word;
	border: solid 1px;
	border-color: #ff7454;
	border-radius: 5px;
	padding: 15px;
	padding-bottom: 0px;
	margin-bottom: 15px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.contract {
	width: 30px;
	height: 30px;
}

.text-contract {
	margin: 0px;
}

.course-line {
	margin: 5px;
	margin-left: 0px;
}

.request-body {
	border: solid 1px;
	border-color: #ff7454;
	border-radius: 5px;
	padding: 15px;
	word-wrap: break-word;
	margin-bottom: 10px;
}

.request-text {
	margin: 0px;
	word-wrap: break-word;
}

.info {
	text-align: right;
}

.class-name {
	padding-left: 0px;
	padding-right: 0px;
}

.class-detail {
	padding-top: 7px;
}

.show-request {
	margin-left: 12px;
}

