body {
	font-family: 'Kanit', sans-serif;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.btn-success {
	margin-left: 10px;
}

.square {
    height: 100px;
    width: 100px;
    margin-bottom: 20px;
}

.nickname {
	text-align: center;
}

.modal-header {
	background-color: #ff7454;
	color: white;
}

.star-rating {
  line-height:33px;
  font-size:1.25em;
}

.star-rating .fa-star{color: #FFD700;}

/*.fa-star:active {
	color: #ff7454;
}
*/

